/* Container da Tabela */
.table-container {
    max-width: 100%;
    padding: 16px;
    background-color: #f9fafb;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    /* Adiciona rolagem horizontal quando necessário */
}

/* Tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
}

/* Cabeçalho da Tabela */
.table-header {
    background-color: #2d3748;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.table-header-cell {
    padding: 10px 14px;
    text-align: left;
    font-size: 0.75rem;
    border-bottom: 2px solid #4a5568;
}

/* Corpo da Tabela */
.table-body .table-row {
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-bottom: 1px solid #e2e8f0;
    text-transform: uppercase;
}

.table-body .table-row:hover {
    background-color: #edf2f7;
    transform: scale(1.01);
}

.table-body .selected-row {
    background-color: #e2e8f0;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);
}

.table-body .table-row .duration-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 100px;
    max-width: max-content;
}

/* Classificações de Duração */
.duration-na {
    color: #a0aec0;
}

.duration-very-fast,
.duration-fast,
.duration-medium,
.duration-slow,
.duration-negative {
    padding: 2px 6px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    border: 1px solid transparent;
}

.duration-very-fast {
    background-color: #e6ffed;
    color: #38a169;
    border-color: #c6f6d5;
}

.duration-fast {
    background-color: #fefcbf;
    color: #d69e2e;
    border-color: #faf089;
}

.duration-medium {
    background-color: #fed7d7;
    color: #e53e3e;
    border-color: #feb2b2;
}

.duration-slow {
    background-color: #feb2b2;
    color: #742a2a;
    border-color: #f56565;
}

.duration-negative {
    background-color: #e6ffed;
    color: #248eff;
    border-color: #c6f6d5;
}

/* Status */
.status-open,
.status-in-progress {
    padding: 8px 16px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 0.75rem;
    text-align: center;
    display: inline-block;
    margin-right: 8px;
    margin: 30% 0px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    cursor: default;
    width: 120px;
}

/* Status Aberto */
.status-open {
    background-color: #38a169;
    border-color: #276749;
    /* Adiciona uma borda verde mais escura */
    box-shadow: 0 2px 6px rgba(56, 161, 105, 0.4);
    /* Adiciona uma sombra suave */
}

/* Efeito de Hover para Status Aberto */
.status-open:hover {
    background-color: #2f855a;
    box-shadow: 0 4px 12px rgba(47, 133, 90, 0.5);
}

/* Status Em Progresso */
.status-in-progress {
    background-color: #3182ce;
    border-color: #2b6cb0;
    /* Adiciona uma borda azul mais escura */
    box-shadow: 0 2px 6px rgba(49, 130, 206, 0.4);
    /* Adiciona uma sombra suave */
    animation: pulse 2s infinite ease-in-out;
    /* Ajusta o tempo de pulsação */
}

/* Efeito de Hover para Status Em Progresso */
.status-in-progress:hover {
    background-color: #2c5282;
    box-shadow: 0 4px 12px rgba(44, 82, 130, 0.5);
}

/* Animação Pulse */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(49, 130, 206, 0.5);
    }

    50% {
        box-shadow: 0 0 12px 12px rgba(49, 130, 206, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(49, 130, 206, 0);
    }
}

/* Badges */
.badge {
    padding: 4px 8px;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 0.75rem;
    text-align: center;
    display: inline-block;
    margin-right: 4px;
    border: 1px solid transparent;
    width: 80px;
}

.badge-high {
    background-color: #ec2300;
    border-color: #9e2a2a;
}

.badge-medium {
    background-color: #f9d428;
    border-color: #cbad26;
}

.badge-low {
    background-color: #248eff;
    border-color: #2975d0;
}

/* Células de Descrição */
.description-cell {
    padding: 10px 14px;
    text-align: left;
    font-size: 0.975rem;
    color: #4a5568;
    border-top: 1px solid #e2e8f0;
    background-color: #e2e8f0;
}

/* Contêiner da Legenda */
.legend-container {
    margin-top: 16px;
    font-size: 0.75rem;
    color: #4a5568;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #f7fafc;
    max-width: screen;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.legend-item {
    display: inline-flex;
    align-items: center;
    margin-bottom: 4px;
    padding: 0px 10px;
}

.legend-color-box {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    margin-right: 8px;
}

.legend-high {
    background-color: #ec2300;
}

.legend-medium {
    background-color: #f9d428;
}

.legend-low {
    background-color: #248eff;
}

@media screen and (max-width: 768px) {

    .table-container {
        padding: 8px;
        border-radius: 8px;
        overflow-x: auto;
        background-color: #ffffff;
        /* Altere a cor de fundo para destacar melhor a tabela */
    }

    .table {
        display: block;
        width: 100%;
        border: none;
    }

    .table-header {
        display: none;
    }

    .table-body .table-row {
        display: block;
        border-bottom: 2px solid #e2e8f0;
        background-color: #f7fafc;
        /* Adicione um fundo mais claro para as linhas */
        border-radius: 8px;
        /* Adicione bordas arredondadas às linhas da tabela */
    }

    .table-body .table-row.selected {
        background-color: #e2e8f0;
        /* Destaque a linha selecionada */
    }

    .table-body .table-row.selected .description-cell {
        background-color: #f5f5f5;
        /* Tonalidade de fundo para a descrição */
        border: 1px solid #e2e8f0;
        /* Borda sutil para destacar a descrição */
        border-radius: 4px;
        padding: 12px 16px;
        /* Aumente o padding para dar mais destaque */
        font-size: 0.75rem;
        /* Aumente o tamanho da fonte para melhor legibilidade */
        font-weight: 600;
        /* Adicione peso à fonte para destacar */
        color: #2d3748;
        /* Altere a cor do texto para um tom mais escuro e legível */
    }

    .table-body .table-row td {
        display: flex;
        flex-direction: column;
        padding: 12px 16px;
        border-bottom: 1px solid #e2e8f0;
        position: relative;
    }

    .table-body .table-row td::before {
        content: attr(data-label);
        position: absolute;
        left: 16px;
        top: 8px;
        font-weight: 600;
        color: #2d3748;
        font-size: 0.75rem;
        /* Ajuste o tamanho da fonte para melhor legibilidade */
    }

    .status-open,
    .status-in-progress {
        margin: 8px 0;
        width: auto;
        /* Ajuste a largura para melhor adaptação */
        border-radius: 5px;
        border: 2px solid transparent;
        padding: 6px 12px;
        font-size: 0.75rem;
        /* Ajuste o tamanho da fonte */
        text-align: center;
        display: inline-block;
    }

    .description-cell {
        /* Aumente o padding para dar mais destaque */
        font-size: 0.875rem;
        /* Aumente o tamanho da fonte para melhor legibilidade */
        font-weight: 600;
        /* Adicione peso à fonte para destacar */
        color: #2d3748;
        /* Altere a cor do texto para um tom mais escuro e legível */
        background-color: #e2e8f0;
    }

    .table-body .table-row .duration-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6px;
        justify-content: flex-start;
        align-items: center;
    }

}

@media screen and (max-width: 480px) {
    .table-body .table-row td {
        padding: 8px;
        font-size: 0.75rem;
    }

    .table-body .table-row td::before {
        left: 8px;
        top: 4px;
        font-size: 0.75rem;
    }

    /* Alinhar durações lado a lado em dispositivos móveis */
    .table-body .table-row .duration-container {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        justify-content: flex-start;
        /* Ajuste para garantir que os itens fiquem lado a lado */
    }

    .status-open,
    .status-in-progress {
        padding: 6px 12px;
        font-size: 0.75rem;
    }

    .badge {
        width: auto;
        padding: 2px 4px;
        font-size: 0.75rem;
    }
}